<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p><span>标题</span><span><%= title %></span></p>
    <p><span>内容</span><span><%= content %></span></p>
    <p><span>昵称</span><span><%= nickname %></span></p>
</body>
</html>